/*--------------------------------------------------
	[47. Tabs]
----------------------------------------------------*/
/*Tabs*/
.nav-tabs > li > a,
.nav-pills > li > a,
.nav-tabs.nav-justified > li > a {
    border-radius: 0;
}

/*Tabs v1
------------------------------------*/
.redactor-editor .tab-v1 .nav-tabs {
    border: none;
    background: none;
    border-bottom: solid 2px #4285f4;
}

.redactor-editor .tab-v1 .nav-tabs a {
    font-size: 14px;
    padding: 5px 15px;
    text-decoration: none;
}

.redactor-editor .tab-v1 .nav-tabs > .active > a,
.redactor-editor .tab-v1 .nav-tabs > .active > a:hover,
.redactor-editor .tab-v1 .nav-tabs > .active > a:focus {
    color: #fff;
    border: none;
    background: #4285f4;
}

.redactor-editor .tab-v1 .nav-tabs > li > a {
    border: none;
}

.redactor-editor .tab-v1 .nav-tabs > li > a:hover {
    color: #fff;
    background: #4285f4;
}

.redactor-editor .tab-v1 .redactor-editor .tab-content {
    padding: 10px 0;
}

.redactor-editor .tab-v1 .redactor-editor .tab-content img {
    margin-top: 4px;
    margin-bottom: 15px;
}

.redactor-editor .tab-v1 .redactor-editor .tab-content img.img-tab-space {
    margin-top: 7px;
}

/*Tabs v2
------------------------------------*/
.redactor-editor .tab-v2 .nav-tabs {
    border-bottom: none;
}

.redactor-editor .tab-v2 .nav-tabs li a {
    padding: 9px 16px;
    background: none;
    border: none;
}

.redactor-editor .tab-v2 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: solid 1px #eee;
    border-top: solid 2px #4285f4;
    border-bottom: none !important;
}

.redactor-editor .tab-v2 .redactor-editor .tab-content {
    padding: 10px 16px;
    border: solid 1px #eee;
}

/*Tabs v3
------------------------------------*/
.redactor-editor .tab-v3 .nav-pills li a {
    color: #777;
    font-size: 17px;
    padding: 4px 8px;
    margin-bottom: 3px;
    background: #fafafa;
    border: solid 1px #eee;
}

.redactor-editor .tab-v3 .nav-pills li a:hover,
.redactor-editor .tab-v3 .nav-pills li.active a {
    color: #fff;
    background: #4285f4;
    border: solid 1px #68af28;
}

.redactor-editor .tab-v3 .nav-pills li i {
    width: 1.25em;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
}

.redactor-editor .tab-v3 .redactor-editor .tab-content {
    padding: 15px;
    background: #fafafa;
    border: solid 1px #eee;
}

/*Tab v4
------------------------------------*/
.redactor-editor .tab-v4 .redactor-editor .tab-heading {
    width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 3px solid #333;
}

.redactor-editor .tab-v4 .redactor-editor .tab-heading h2 {
    margin: 0;
    float: left;
    font-size: 18px;
    font-weight: bold;
}

/*Nav Tabs*/
.redactor-editor .tab-v4 .nav-tabs {
    top: 3px;
    border: none;
    float: right;
    overflow: hidden;
    position: relative;
}

.redactor-editor .tab-v4 .nav-tabs a {
    color: #555;
    font-size: 12px;
    padding: 6px 15px;
    text-transform: uppercase;
}

.redactor-editor .tab-v4 .nav-tabs > .active > a,
.redactor-editor .tab-v4 .nav-tabs > .active > a:hover,
.redactor-editor .tab-v4 .nav-tabs > .active > a:focus {
    border: none;
    background: inherit;
}

.redactor-editor .tab-v4 .nav-tabs > li > a {
    border: none;
}

.redactor-editor .tab-v4 .nav-tabs > li > a:hover {
    background: inherit;
}

.redactor-editor .tab-v4 .redactor-editor .tab-content {
    padding: 20px 0 10px;
}

/*Tab v5
------------------------------------*/
.redactor-editor .tab-v5 .nav-tabs {
    border-bottom: none;
}

.redactor-editor .tab-v5 .nav-tabs li a {
    border: none;
    font-size: 14px;
    background: none;
    padding: 9px 16px;
}

.redactor-editor .tab-v5 .nav-tabs li.active a {
    background: #fff;
    padding: 7px 15px 9px;
    border: solid 1px #eee;
    border-top: solid 3px #222;
    border-bottom: none !important;
}

.redactor-editor .tab-v5 .redactor-editor .tab-content {
    padding: 13px;
    border: solid 1px #eee;
}

/*Tab v6
------------------------------------*/
.redactor-editor .tab-v6 .nav-tabs {
    border-bottom-color: #dedede;
}

.redactor-editor .tab-v6 .nav-tabs > li {
    margin-right: 30px;
}

.redactor-editor .tab-v6 .nav-tabs > li > a {
    border: none;
    color: #687074;
    padding: 6px 0;
    font-size: 18px;
    margin-right: 0;
    background: none;
    text-transform: uppercase;
    border-bottom: solid 1px transparent;
}

.redactor-editor .tab-v6 .nav-tabs > li.active > a,
.redactor-editor .tab-v6 .nav-tabs > li.active > a:hover,
.redactor-editor .tab-v6 .nav-tabs > li.active > a:focus {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #18ba9b;
}

.redactor-editor .tab-v6 .nav-tabs > li > a:hover {
    border-bottom: 1px solid #18ba9b;
}

.redactor-editor .tab-v6 .nav-tabs > li > a:focus {
    border: none;
}

.redactor-editor .tab-v6 .redactor-editor .tab-content {
    padding: 30px 0;
}

.redactor-editor .panel-default .panel-heading {
    background-color: #f7f7f7;
    border-color: #cdd6e1;
    height: 30px;
    padding-top: 6px;
    margin-bottom: 0px;
    /*border-bottom: 1px solid #cdd6e1;*/
}

.redactor-editor .panel-default .panel-heading .panel-title {
    font-size: 14px;
    text-decoration: none;
}

.redactor-editor .panel-default .panel-heading .panel-title a {
    text-decoration: none;
}

.redactor-editor .panel-group .panel {
    border-radius: 0;
    margin-bottom: 2px;
}

.redactor-editor h1, h2, h3, h4, h5 {
    color: #666666 !important;
}

/*
Green:       	#74C52C    rgba(116,197,44, 1);
Blue:        	#3498db    rgba(52,152,219, 1);
Orange:      	#e67e22    rgba(230,126,34, 1);
Red:         	#e74c3c	   rgba(231,76,60, 1);
Grey:        	#bdc3c7	   rgba(189,195,199, 1);
Purple:      	#9b6bcc	   rgba(155,107,204, 1);
Aqua:        	#27d7e7    rgba(39,215,231, 1);
Brown:       	#9c8061    rgba(156,128,97, 1);
Dark Blue:   	#4765a0    rgba(71,101,160, 1);
Light Green: 	#79d5b3    rgba(121,213,179, 1);
*/

/*Pricing Page New
------------------------------------*/
.redactor-editor .redactor-editor .pricing-table-v1 .sticker-right,
.redactor-editor .pricing-table-v1 .sticker-left {
    color: #fff;
    width: 150px;
    padding: 1px;
    font-size: 10px;
    font-weight: bold;
    font-family: Arial;
    position: absolute;
    text-align: center;
    letter-spacing: 2px;
    background-color: #585f69;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}

.redactor-editor .pricing-table-v1 .sticker-right {
    top: 6px;
    right: -59px;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.redactor-editor .pricing-table-v1 .sticker-left {
    top: 10px;
    left: -58px;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.redactor-editor .pricing-table-v1 .bg-green {
    background-color: rgba(116, 197, 44, 0.9);
}

.redactor-editor .pricing-table-v1 .bg-blue {
    background-color: rgba(52, 152, 219, 1);
}

.redactor-editor .pricing-table-v1 .bg-orange {
    background-color: rgba(230, 126, 34, 1);
}

.redactor-editor .pricing-table-v1 .bg-red {
    background-color: rgba(231, 76, 60, 1);
}

.redactor-editor .pricing-table-v1 .bg-grey {
    background-color: rgba(189, 195, 199, 1);
}

.redactor-editor .pricing-table-v1 .bg-purple {
    background-color: rgba(155, 107, 204, 1);
}

.redactor-editor .pricing-table-v1 .bg-aqua {
    background-color: rgba(39, 215, 231, 1);
}

.redactor-editor .pricing-table-v1 .bg-brown {
    background-color: rgba(156, 128, 97, 1);
}

.redactor-editor .pricing-table-v1 .bg-dark-blue {
    background-color: rgba(71, 101, 160, 1);
}

.redactor-editor .pricing-table-v1 .bg-light-green {
    background-color: rgba(121, 213, 179, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1 {
    overflow: hidden;
    position: relative;
    margin-bottom: 30px;

}

.redactor-editor .pricing-table-v1 .pricing-v1:hover li {
    background: #fff;
}

.redactor-editor .pricing-table-v1 .pricing-v1-head {
    padding: 1px 0;
    background: #74C52C;
}

.redactor-editor .pricing-table-v1 .pricing-v1-head h4,
.redactor-editor .pricing-table-v1 .pricing-v1-head h5 {
    font-size: 14px;
    margin: 0;
    color: #fff;
    padding: 9px 0;
    font-family: Arial;
    letter-spacing: 1px;
}

.redactor-editor .pricing-table-v1 .pricing-v1-head h5 {
    font-size: 50px;
    margin-left: 17px;
}

.redactor-editor .pricing-table-v1 .pricing-v1-head h5 i {
    top: -5px;
    font-size: 15px;
    padding-left: 2px;
    position: relative;
    font-style: normal;
}

.redactor-editor .pricing-table-v1 .pricing-v1-head h5 span {
    top: -23px;
    font-size: 15px;
    position: relative;
    padding-right: 2px;
}

.redactor-editor .pricing-table-v1 .pricing-v1-content {
    margin-bottom: 0;
    background: #f9f9f9;
}

.redactor-editor .pricing-table-v1 .pricing-v1-content li {
    margin: 0;
    color: #888;
    padding: 13px 20px;
    border-bottom: 1px solid rgba(116, 197, 44, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-content li i {
    margin-right: 10px;
    color: #74C52C;
}

.redactor-editor .pricing-table-v1 .pricing-v1-green .btn-u {
    background: #72c02c !important;
}

.redactor-editor .pricing-table-v1 .pricing-v1-blue .pricing-v1-head {
    background: rgba(52, 152, 219, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-blue .pricing-v1-content li {
    border-bottom: 1px solid rgba(52, 152, 219, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-blue .pricing-v1-content li i {
    color: rgba(52, 152, 219, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-orange .pricing-v1-head {
    background: rgba(230, 126, 34, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-orange .pricing-v1-content li {
    border-bottom: 1px solid rgba(230, 126, 34, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-orange .pricing-v1-content li i {
    color: rgba(230, 126, 34, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-red .pricing-v1-head {
    background: rgba(231, 76, 60, 1);
    margin-bottom: 0px !important;
}

.redactor-editor .pricing-table-v1 .pricing-v1-red .pricing-v1-content li {
    border-bottom: 1px solid rgba(231, 76, 60, 0.2);
}

.redactor-editor .pricing-table-v1 .pricing-v1-red .pricing-v1-content li i {
    color: rgba(231, 76, 60, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-grey .pricing-v1-head {
    background: rgba(189, 195, 199, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-grey .pricing-v1-content li {
    border-bottom: 1px solid rgba(189, 195, 199, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-grey .pricing-v1-content li i {
    color: rgba(189, 195, 199, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-purple .pricing-v1-head {
    background: rgba(155, 107, 204, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-purple .pricing-v1-content li {
    border-bottom: 1px solid rgba(155, 107, 204, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-purple .pricing-v1-content li i {
    color: rgba(155, 107, 204, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-aqua .pricing-v1-head {
    background: rgba(39, 215, 231, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-aqua .pricing-v1-content li {
    border-bottom: 1px solid rgba(39, 215, 231, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-aqua .pricing-v1-content li i {
    color: rgba(39, 215, 231, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-brown .pricing-v1-head {
    background: rgba(156, 128, 97, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-brown .pricing-v1-content li {
    border-bottom: 1px solid rgba(156, 128, 97, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-brown .pricing-v1-content li i {
    color: rgba(156, 128, 97, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-head {
    background: rgba(71, 101, 160, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li {
    border-bottom: 1px solid rgba(71, 101, 160, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-dark-blue .pricing-v1-content li i {
    color: rgba(71, 101, 160, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-light-green .pricing-v1-head {
    background: rgba(121, 213, 179, 1);
}

.redactor-editor .pricing-table-v1 .pricing-v1-light-green .pricing-v1-content li {
    border-bottom: 1px solid rgba(121, 213, 179, 0.3);
}

.redactor-editor .pricing-table-v1 .pricing-v1-light-green .pricing-v1-content li i {
    color: rgba(121, 213, 179, 1);
}

/* Devices (Large Screen Mode, 1200px more) */
@media (min-width: 1200px) {

    .redactor-editor .pricing-table-v1 .sticker-right {
        top: 10px;
        right: -51px;
        padding: 6px;
        font-size: 10px;
    }

    .redactor-editor .pricing-table-v1 .sticker-left {
        top: 10px;
        left: -51px;
        padding: 5px;
        font-size: 10px;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1 {
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1:hover {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
    }

    .redactor-editor .pricing-table-v1 .pricing-v1:hover li {
        background: #fff;
    }
}

.redactor-editor .pricing-table-v1 ul {
    padding-left: 0 !important;
}

.redactor-editor .pricing-table-v1 .btn-u {
    border: 0;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
    padding: 6px 13px;
    position: relative;
    background: #e74c3c;
    white-space: nowrap;
    display: inline-block;
    text-decoration: none;
}

.redactor-editor .pricing-table-v1 .pricing-v1-head h4, .redactor-editor .pricing-table-v1 .pricing-v1-head h5 {
    color: #fff !important;
}



/* Devices (Desktop Mode, 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {

    .redactor-editor .pricing-table-v1 .pricing-v1-head h4 {
        font-size: 18px;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1 {
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1:hover {
        -webkit-transform: scale(1.04);
        -moz-transform: scale(1.04);
    }
}

/* Devices (Tablet Mode, 768px and 991px) */
@media (min-width: 767px) and (max-width: 991px) {

    .no-space-pricing [class^="col-"],
    .no-space-pricing [class*=" col-"] {
        padding: 5px;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1-content li {
        padding: 9px 10px;
    }

}

/* Medium Devices (Phone Mode, 768px and less) */
@media (max-width: 767px) {
    /*Pricing Page*/
    .no-space-pricing [class^="col-"],
    .no-space-pricing [class*=" col-"] {
        padding: 10px;
    }

    .redactor-editor .pricing-table-v1 .sticker-right,
    .redactor-editor .pricing-table-v1 .sticker-left {
        top: 39px;
        padding: 0;
        float: left;
        left: -40px;
        width: 95px;
        border: none;
        transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
    }

    .redactor-editor .pricing-table-v1 .pricing-v1-content {
        text-align: center;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1-content li {
        padding: 9px 0 9px 7px;
    }

    .redactor-editor .pricing-table-v1 .pricing-v1-content li i {
        display: block;
        margin-bottom: 5px;
    }

}
