{% load i18n admin_static pront %}
<!--=== Footer v8 ===-->
<div class="footer-v1">
    <footer class="footer" style="padding: 30px 0 20px;">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 column-one md-margin-bottom-50">
                    {% widget_footer1 %}
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    {% widget_footer2 %}
                </div>

                <div class="col-md-3 col-sm-6 md-margin-bottom-50">
                    {% widget_footer3 %}
                </div>

                <div class="col-md-3 col-sm-6">
                    {% widget_footer4 %}
                </div>
            </div>
            <!--/end row-->
        </div>
        <!--/end container-->
    </footer>

    <footer class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="list-inline" style="font-size: 11px; margin-top: 5px;">
                        <li style="color: #fff">2014 - {% now 'Y' %} &copy; All Rights Reserved.</li>
                        {% footer %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="footer-socials list-inline" style="margin-top: 0;">
                        <li>
                            <a target="_blank" href="https://www.facebook.com/nuraksa.tour" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>

                        <li>
                            <a target="_blank" href="https://www.instagram.com/nuraksatour/" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://twitter.com/nuraksaTravel" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!--/end container-->
    </footer>
</div>
<!--=== End Footer v8 ===-->
