{% load i18n admin_static pront %}
<div id="layerslider" style="width: 100%; height: 360px;">
    <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">
        <img src="/static/img/sliders/home/1.png" class="ls-bg">
        <img src="/static/img/sliders/home/logo/1.png" class="ls-s-1" style="top:30px; left: 670px; slidedirection : left; slideoutdirection : right; durationin : 1000; durationout : 1000; ">
        <img src="/static/img/sliders/home/logo/a.png" class="ls-s-1" style="top:30px; left: 897px; slidedirection : left; slideoutdirection : top; durationin : 2300; durationout : 1300; ">
        <img src="/static/img/sliders/home/logo/s.png" class="ls-s-1" style="top:30px; left: 871px; slidedirection : left; slideoutdirection : bottom; durationin : 2600; durationout : 1600; ">
        <img src="/static/img/sliders/home/logo/k.png" class="ls-s-1" style="top:28px; left: 835px; slidedirection : left; slideoutdirection : top; durationin : 2900; durationout : 1900; ">
        <img src="/static/img/sliders/home/logo/a.png" class="ls-s-1" style="top:30px; left: 790px; slidedirection : left; slideoutdirection : bottom; durationin : 3100; durationout : 2100; ">
        <img src="/static/img/sliders/home/logo/r.png" class="ls-s-1" style="top:30px; left: 760px; slidedirection : left; slideoutdirection : top; durationin : 3400; durationout : 2400; ">
        <img src="/static/img/sliders/home/logo/u.png" class="ls-s-1" style="top:30px; left: 723px; slidedirection : left; slideoutdirection : bottom; durationin : 3700; durationout : 2700; ">
        <img src="/static/img/sliders/home/logo/n.png" class="ls-s-1" style="top:30px; left: 680px; slidedirection : left; slideoutdirection : top; durationin : 4000; durationout : 3000; ">
        <img src="/static/img/sliders/home/logo/tour.png" class="ls-s-1" style="top:30px; left: 680px; slidedirection : left; slideoutdirection : left; durationin : 5000; durationout : 5000; ">
        <span class="ls-s-1" style=" color: #31353E; line-height:45px; font-weight: 200; font-size: 18px; top:50px; left: 302px; slidedirection : top; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">JADIKAN</span>
        <span class="ls-s-1" style=" color: #31353E; line-height:45px; font-weight: 300; font-size: 25px; top:70px; left: 300px; slidedirection : left; slideoutdirection : bottom; durationin : 1000; durationout : 2000; ">PERJALANAN ANDA</span>
        <span class="ls-s-1" style=" color: #e74c3c; line-height:45px; font-weight: 400; font-size: 50px; top:110px; left: 15px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1000; durationout : 2000; ">LEBIH MENYENANGKAN</span>
        <span class="ls-s-1" style=" color: #31353E; line-height:45px; font-weight: 350; font-size: 20px; top:150px; left: 15px; slidedirection : right; slideoutdirection : left; durationin : 1000; durationout : 2000; ">BERSAMA NURAKSA TOUR AND TRAVEL</span>
        <img src="/static/img/logo/asia-wisata.png" class="ls-s-1" style="top:210px; left: -15px; slidedirection : right; slideoutdirection : left; durationin : 1000; durationout : 1000; ">
        <img src="/static/img/logo/iata.png" class="ls-s-1" style="width:100px; top:200px; left: 125px; slidedirection : right; slideoutdirection : left; durationin : 2000; durationout : 2000; ">
        <img src="/static/img/logo/asita.png" class="ls-s-1" style="width:80px; top:200px; left: 245px; slidedirection : right; slideoutdirection : left; durationin : 3000; durationout : 3000; ">
        <img src="/static/img/logo/pata.png" class="ls-s-1" style="width:110px; top:210px; left: 335px; slidedirection : right; slideoutdirection : left; durationin : 4000; durationout : 4000; ">
        <img src="/static/img/logo/astindo.png" class="ls-s-1" style="top:230px; left: 455px; slidedirection : right; slideoutdirection : left; durationin : 5000; durationout : 5000; ">
        <img src="/static/img/sliders/home/koper.png" class="ls-s-1" style="width:170px; top:170px; left: 855px; slidedirection : bottom; slideoutdirection : top; durationin : 3000; durationout : 3000; ">
    </div>
        <div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">
            <img src="/static/img/sliders/home/gili-map.png" class="ls-bg"/>
            <img src="/static/img/sliders/home/cycle.png" class="ls-s-1" style="width:250px; top:182px; left: 79%; slidedirection : left; slideoutdirection : right; durationin : 3000; durationout : 3000;">
            <img src="/static/img/sliders/home/t.png" class="ls-s-1" style="width:800px; top:32px; left: 75%; slidedirection : left; slideoutdirection : right; durationin : 1000; durationout : 1000;">
            <img src="/static/img/sliders/home/logo-nuraksa-w.png" class="ls-s-1" style="width:150px; top:270px; left:92%; slidedirection : left; slideoutdirection : right; durationin : 2000; durationout : 2000; ">
            <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:30px; color:#31353E; top:45px; left: 72%; slidedirection : top; slideoutdirection : right; durationin : 1500; durationout : 1500;">NIKMATI SERUNYA KELILING TIGA GILI</span>

            <i class="fa  fa-map-marker ls-s-1" style=" color: #e74c3c; font-size: 24px; top:250px; left: 50%; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; "></i>
            <span class="ls-s-2" style=" color: #e74c3c; font-weight: 200; font-size: 22px; top:250px; left: 53%; slidedirection : top; slideoutdirection : bottom; durationin : 1500; durationout : 500; ">Gili Air</span>

            <i class="fa fa-map-marker  ls-s-1" style=" color: #e74c3c; font-size: 24px; top:120px; left: 26%; slidedirection : left; slideoutdirection : top; durationin : 2500; durationout : 1500; "></i>
            <span class="ls-s-2" style=" color: #e74c3c; font-weight: 200; font-size: 22px; top:120px; left: 30%; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 1500; ">Gili Meno</span>

            <i class="fa fa-map-marker ls-s-1" style=" color: #e74c3c; font-size: 24px; top:160px; left: 2%; slidedirection : left; slideoutdirection : top; durationin : 3500; durationout : 3500; "></i>
            <span class="ls-s-2" style=" color: #e74c3c; font-weight: 200; font-size: 22px; top:160px; left: 8%; slidedirection : top; slideoutdirection : bottom; durationin : 3500; durationout : 2500; ">Gili Trawangan</span>

        </div>
</div>

<!--start slider-->
{#<div id="layerslider" style="width: 100%; height: 360px;" rel="width: 100%; height: 360px;" class="ls-container ls-fullwidth">#}
{#    <div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">#}
{#        <img src="/static/img/sliders/umrah/3.png" class="ls-bg">#}
{#        <span class="ls-s-1 tag-box tag-box-v3" style="background-color: rgba(255, 255, 255, 0.6); height:50px; width: 300px; top:75%; left: -20px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1000; durationout : 1000; "></span>#}
{#        <img class="ls-l" src="/static/img/logo/asia-wisata.png" style="top: 75%; left: 180px;" data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">#}
{#        <img src="/static/img/logo/khalifa-hajj.png" class="ls-s-1" style="width: 180px; top:75%; left: -15px;" data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">#}
{#        <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:30%; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 1900; durationout : 3500; ">BEKERJA SAMA DENGAN</span>#}
{#		<span class="ls-s-2" style="color:#fff;width:55%; font-size:18px; top:50%; left: -20px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 2000;">#}
{#		Khalifa Hajj merupakan Biro Perjalanan Umrah dan Haji yang telah mengantongi izin resmi berdasarkan Surat Keputusan Dirjen Penyelenggaraan Umrah dan Haji Kementerian Agama RI Nomor D/496/2014#}
{#		</span>#}
{#        <img class="ls-s-1" src="/static/img/logo/legal.png" style="top:25px; left: 82%; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 3000; ">#}
{#        <img class="ls-s-1" src="/static/img/logo/legal-stempel.png" style="width: 120px; top:130px; left: 82%; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">#}
{#    </div>#}
{#    <div class="ls-slide" data-ls="slidedelay:4500; transition2d:25;">#}
{#        <img src="/static/img/sliders/umrah/2.png" class="ls-bg">#}
{#        <img class="ls-l" src="/static/img/a.png" style="top: 55%; left: 28%;" data-ls="offsetxin:left; durationin:1500; delayin:900; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">#}
{#        <img src="/static/img/b.png" class="ls-s-1" style=" top:58%; left: 19%;" data-ls="offsetxin:left; durationin:1500; delayin:1500; fadein:false; offsetxout:left; durationout:1000; fadeout:false;">#}
{#        <span class="ls-s-1" style=" text-transform: uppercase; line-height: 45px; font-size:35px; color:#fff; top:30%; left: 290px; slidedirection : top; slideoutdirection : bottom; durationin : 1900; durationout : 3500; data-verified=" redactor"="">#}
{#        Tim Dan Manajement <br> Propesional#}
{#        </span>#}
{#		<span class=" ls-s-2" style="color:#fff;width:55%; font-size:20px; top:55%; left: 290px; slidedirection : top; slideoutdirection : bottom; durationin : 2500; durationout : 2000;">#}
{#		"Tim terdiri dari orang-orang profesional yang mampu bekerja secara optimal sesuai dengan bidang dan tanggungjawabnya. Mulai dari pendaftaran hinggan keberangkatan, jamaah berada dalam pelayanan orang-orang yang tepat."#}
{#		</span>#}
{#    </div>#}
{#    <div class="ls-slide" style="slidedirection: right; transition2d: 92,93,105; ">#}
{#        <img src="/static/img/sliders/umrah/1.png" class="ls-bg">#}
{#		<span class="ls-s-1" style=" color: #fff; line-height:45px; font-weight: 200; font-size: 35px; top:30%; 100px; slidedirection : top; slideoutdirection : bottom; durationin : 1000; durationout : 1000; ">#}
{#		Terbang Bersama <br> Maskapai Kelas Dunia#}
{#		</span>#}
{#		<span class="ls-s-2" style="color:#fff; width:50%; font-size:19px; top:60%; 100px; slidedirection : bottom; slideoutdirection : bottom; durationin : 2000; durationout : 2000; ">#}
{#		Untuk memberikan rasa nyaman selama di perjalanan, Nuraksa Tour And Travel hanya mempercayakan layanan penerbangan kepada maskapai terbaik kelas dunia.#}
{#		</span>#}
{#        <img class="ls-s-1" src="/static/img/logo/emirates2.png" style="width:300px; top:25px; left: 74%; slidedirection : top; slideoutdirection : bottom; durationin : 3000; durationout : 3000; ">#}
{#        <img class="ls-s-1" src="/static/img/logo/saudi.png" style="top:45px; left: 65%; slidedirection : right; slideoutdirection : bottom; durationin : 4000; durationout : 4000; ">#}
{#        <img class="ls-s-1" src="/static/img/logo/etihad.png" style="width:200px; top:25px; left: 85%; slidedirection : right; slideoutdirection : bottom; durationin : 5000; durationout : 5000; ">#}
{#        <img class="ls-s-1" src="/static/img/logo/garuda.png" style="width:200px; top:155px; left: 88%; slidedirection : bottom; slideoutdirection : top; durationin : 4500; durationout : 5000; ">#}
{#        <img class="ls-s-1" src="/static/img/logo/qatar.png" style="width:200px; top:245px; left:68%; slidedirection : bottom; slideoutdirection : top; durationin : 5000; durationout : 5000; ">#}
{#    </div>#}
{#</div>#}

