{% load suit_tags %}
{% if fieldset.name != None %}
    <div class="panel">
    {% if fieldset.name %}
        <div class="panel-heading">
            <h3 class="panel-title">
                {{ fieldset.name }}
                {% if fieldset.description %}
                    <small>{{ fieldset.description|safe }}</span>
                {% endif %}
            </h3>
        </div>
    {% endif %}
    <div class="panel-body">
{% endif %}
<fieldset class="module aligned{{ fieldset.name|yesno:' with-legend, first' }} {{ fieldset.classes }}">
    {% for line in fieldset %}
        {% with singlefield=line.fields|length_is:'1' %}
            <div class="form-group form-row{% if line.errors %} {{ singlefield|yesno:'has-error,first-error' }} errors{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %} {{ field.field.field.widget.attrs.rowclass }}{% endfor %}{{ singlefield|yesno:',multi-field-row' }}">
            {% for field in line %}
                {% with field.field|widget_type as widget_type %}
                    {% spaceless %}
                        {# write special control tags only for first multi field #}
                        {% if forloop.first %}
                            <div{% if not singlefield %} class="field-box{% if field.field.name %} field-{{ field.field.name }}{% endif %}"{% endif %}>
                            {% if widget_type == 'imagehideinput' or widget_type == 'titletextinput' or widget_type == 'redactorwidget' or widget_type == 'treecheckboxselectmultiple' or widget_type == 'tagfilteredselectmultiple' %}
                                {{ pass }}
                            {% elif perms.word.change_user_post %}
                                <div class="col-lg-3 control-label">
                                    {{ field.label_tag }}
                                </div>
                            {% elif widget_type == 'select' or widget_type == 'checkboxinput' or widget_type == 'admintextinputwidget' %}
                                <div class="col-lg-3 control-label">
                                    {{ field.label_tag }}
                                </div>
                            {% endif %}
                            <div class="{% if widget_type == 'titletextinput' or widget_type == 'redactorwidget' %}col-lg-12{% else %}col-lg-9{% endif %}">
                            {# if multi-fields and first field #}
                            {% if not singlefield %}
                                <div class="multi-field-box">
                            {% endif %}
                        {% else %}
                            {# If multi-fields and not first wrap also label #}
                            {% if not singlefield and not forloop.first %}
                                <div class="multi-field-box{{ field.errors|yesno:' error,' }}">
                            {% endif %}
                            {{ field.label_tag }}
                        {% endif %}

                    {% if not field.is_readonly and field.errors %}
                        <div class="inline error errors">
                    {% endif %}

                    {# If multi-fields and wrap controls too #}
                    {% if not singlefield %}
                        <div class="multi-field-controls">
                    {% endif %}

                    {% if field.is_readonly %}
                        <span class="readonly">{{ field|field_contents_foreign_linked|linebreaksbr }}</span>
                    {% else %}
                        {% if widget_type == 'imagehideinput' or widget_type == 'treecheckboxselectmultiple' or widget_type == 'tagfilteredselectmultiple' %}
                            {{ pass }}
                        {% elif widget_type == 'adminradioselect' or widget_type == 'checkboxselectmultiple' or widget_type == 'readonlypasswordhashwidget' or widget_type == 'adminfilewidget' %}
                            {{ field.field }}
                        {% elif widget_type == 'checkboxinput' %}
                            <label style="margin-top: 14px" class="form-checkbox form-normal form-text">
                                {{ field.field }}
                            </label>
                        {% elif widget_type == 'select' %}
                            {{ field.field|add_class:"selectpicker" }}
                        {% elif widget_type == 'userselectinput' %}
                            {% if perms.word.change_user_post %}
                                {{ field.field|add_class:"selectpicker" }}
                            {% else %}
                                <input type="hidden" value="{{ user.id }}" name="user" id="id_user">
                            {% endif %}
                        {% else %}
                            {{ field.field|add_class:"form-control" }}
                        {% endif %}

                        {#                        {% if widget_type == 'adminradioselect' or widget_type == 'checkboxselectmultiple' or widget_type == 'readonlypasswordhashwidget' or widget_type == 'adminfilewidget' or widget_type == 'checkboxinput' %}#}
                        {#                            {{ field.field }}#}
                        {#                        {% endif %}#}
                        {#                        {% if widget_type == 'admintextinputwidget' or widget_type == 'titletextinput' or widget_type == 'adminemailinputwidget' or widget_type == 'redactorwidget' or widget_type == 'textarea' or widget_type == 'passwordinput' %}#}
                        {#                            {{ field.field|add_class:"form-control" }}#}
                        {#                        {% endif %}#}
                        {#                        {% if widget_type == 'select' %}#}
                        {#                            {{ field.field|add_class:"selectpicker" }}#}
                        {#                        {% endif %}#}
                        {#                        {% if widget_type == 'filteredselectmultiple' or widget_type == 'suitsplitdatetimewidget' %}#}
                        {#                            {{ field.field }}#}
                        {#                        {% endif %}#}
                        {#                        {{ field.field }}#}
                        {#                                                {{ widget_type }}#}
                    {% endif %}

                    {% for error in field.field.errors %}
                        <span class="help-block">{{ error }}</span>
                    {% endfor %}

                    {# For multi field errors #}
                    {% if field.errors and not singlefield and not field.is_readonly %}
                        <span class="help-block">{{ field.errors|striptags }}</span>
                    {% endif %}

                    {% if field.field.help_text %}
                        <span class="{% if line.errors or field.errors or not singlefield %}help-block{% else %}text-muted{% endif %}">{{ field.field.help_text|safe }}</span>
                    {% endif %}

                    {% if not field.is_readonly and field.errors %}
                        </div>
                    {% endif %}

                    {% if not singlefield %}
                        </div> {# close multi-controls #}
                        </div> {# close multi-field-box #}
                    {% endif %}

                    {% if forloop.last %}
                        </div>
                        </div>
                    {% endif %}

                    {% endspaceless %}
                {% endwith %}
            {% endfor %}

        </div>
        {% endwith %}
    {% endfor %}
</fieldset>
{% if fieldset.name != None %}
    </div>
    <div class="panel-footer"></div>
    </div>
{% endif %}