{% load i18n pront widget admin_static humanize %}
<div class="container margin-top-20">
    <div class="row">
        {% if object.layout == 'right' %}
            <div class="col-md-3">
                {% widget_sidebar %}
            </div>
        {% endif %}
        <div class="{% if object.layout == 'pull' %}col-md-12 {% else %}col-md-9{% endif %}">
            <div class="margin-bottom-10">
                <div class="news-v3 bg-color-light margin-bottom-30">
                    <div class="easy-block-v1 ">
                        <div class="star-vote pull-left" style="font-size:18px;margin-top: 10px; position: absolute; right: 5px; z-index: 1;">
                            {% for i in object.word_meta|show_setting_value:'star'|get_range %}
                                <i class="color-green fa fa-star"></i>
                            {% endfor %}
                        </div>
                        <div class="easy-block-v1-badge rgba-blue">Rp. {{ object.word_meta|show_setting_value:'price'|intcomma }}</div>

                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="/media/image/thumbnail/848x309/{{ object.image }}" class="img-responsive full-width">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="news-v3-in">
                        {{ object.content|safe }}
                    </div>
                </div>
                <div class="headline-v2 bg-color-light">
                    <h2>Kode boking : {{ object.word_meta|show_setting_value:'boking_code' }}</h2>
                </div>
                {% if object.word_meta|show_setting_value:'latitude' != '' and object.word_meta|show_setting_value:'longitude' != '' %}
                    <div class="headline-v2 bg-color-light">
                        <h2>Map lokasi</h2>
                    </div>
                    <div id="map" class="map map-box map-box-space margin-bottom-40"></div>
                {% endif %}
                {% if object.word_meta|show_setting_value:'address' != '' %}
                    <blockquote class="hero">
                        <h2>Alamat hotel</h2>
                        <p>{{ object.word_meta|show_setting_value:'address' }}</p>
                    </blockquote>
                {% endif %}
                <!-- End Blog Content -->
                <div class="row  margin-bottom-30">
                    <div class="col-sm-12 cube-portfolio">
                        {% images_gallery object.word_meta|show_setting_value:'gallery' object.title %}
                    </div>
                </div>

                <!-- Blog Thumb v4 -->
                <div class="margin-bottom-50">
                    <div class="headline">
                        <h2>Rekomendasi</h2>
                    </div>

                    <div class="row news-v2 margin-bottom-50">
                        {% for related in object.self_relationships.all|dictsortreversed:"created_at"|slice:"3" %}

                            <div class="col-sm-4 col-xs-6 sm-margin-bottom-30 ">
                                <div class="news-v2-badge">
                                    <div style="position: absolute; margin-top: 120px; right: 10px">
                                        {% for i in related.word_meta|show_setting_value:'star'|get_range %}
                                            <i class="color-green fa fa-star"></i>
                                        {% endfor %}
                                    </div>
                                    <a href="{% url 'post-detail' related.get_category_slug_first related.slug %}">
                                        <img class="img-responsive" src="/media/image/thumbnail/512x288/{{ related.image }}" alt="{{ related.title }}">
                                    </a>
                                    <p>
                                        <small>Rp. {{ related.word_meta|show_setting_value:'price'|intcomma }}</small>
                                        <small></small>
                                    </p>
                                </div>
                                <div class="news-v2-desc  bg-color-light">
                                    <h5><a href="{% url 'post-detail' related.get_category_slug_first related.slug %}">{{ related.title }}</a></h5>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <!--/end row-->
                </div>
                <!-- End Blog Thumb v4 -->
            </div>
        </div>
        {% if object.layout == 'left' %}
            <div class="col-md-3">
                {% widget_sidebar %}
            </div>
        {% endif %}
    </div>
</div>