@media (min-width: 1200px) {
    .container {
        width: 1100px !important;
    }
}

.blog-slider .blog-slider-title h2 {
    margin: 0;
    color: #fff;
    font-size: 25px !important;
    font-weight: 300;
    line-height: 1.4;

}

.blog-slider .blog-slider-title h2 a {
    text-decoration: none;
}

.blog-slider .blog-slider-badge a {
    color: #fff !important;
    text-decoration: none;
}

.logo-header {
    top: 0;
    position: absolute;
    background: #31353E;
    height: 80px;
    width: 194px;
    z-index: auto;

}

.logo-header .logo {
    margin-top: 8px;
    position: relative;
    padding-left: 7px;
}

.triangles {
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    border: 2px solid #595955;
    position: absolute;

}

.triangle {
    margin-top: 3px;
    float: left;
}

.demo-arrow-down {
    /*width: 194px;*/
    /*height: 0;*/

    border-left: 97px solid transparent;
    border-right: 97px solid transparent;

    border-top: 50px solid #31353E;

}

.fa-star, .fa-star-half {
    color: #F1AF0F !important;
}

.thumbnail-style a.btn-more {
    right: -1px;
}

/*.topbar-list-item {*/
/*margin-left: 180px*/
/*}*/
.our-tours-list .owl-buttons {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
}

.blog-topbar {
    background: #31353E;
}

