{% load i18n admin_static admin_modify suit_tags admin_urls menu %}
{% load url from suit_compat %}
<!-- Start widget HTML-->
<div class="panel">
    <div class="panel-heading">
        <div class="panel-control">
            <button class="btn btn-default" data-target="#panel-collapse-widget-html" data-toggle="collapse" aria-expanded="true">
                <i class="fa fa-chevron-down"></i>
            </button>
        </div>
        <h3 class="panel-title">{% trans 'HTML' %}</h3>
    </div>
    <form method="post" action="{% url opts|admin_urlname:'add_html' %}">
        <div id="panel-collapse-widget-html" class="collapse in" aria-expanded="true">
            <div class="panel-body">
                {% csrf_token %}
                <div class="form-group {{ htmlform.title.errors|yesno:' has-error,'}}">
                    <label class="control-label">{% trans 'Title' %}</label>
                    {{ htmlform.title|add_class:'form-control input-sm' }}
                    <span class="help-block">{{ htmlform.title.errors|striptags }}</span>
                </div>
                <div class="form-group {{ htmlform.content.errors|yesno:' has-error,'}}">
                    <label class="control-label">{% trans 'Content' %}</label>
                    {{ htmlform.content|add_class:'form-control' }}
                    <span class="help-block">{{ htmlform.content.errors|striptags }}</span>
                </div>
                <div class="form-group">
                    <label class="control-label">{% trans 'Position' %}</label>
                    <br>
                    {{ htmlform.position|add_class:'selectpicker' }}
                </div>
                <div class="form-group">
                    <label style="margin-top: 14px" class="form-checkbox form-normal">
                        {{ htmlform.show_title }}
                    </label>
                    <span class="text-muted">{% trans 'Show title' %}</span>
                </div>
            </div>
            <div class="panel-footer">
                <button class="btn btn-sm btn-info btn-labeled icon-sm fa fa-plus" type="submit" name="_save">{% trans 'Add' %}</button>
            </div>
        </div>
    </form>
</div>
<!-- End widget HTML-->