{% load suit_list i18n %}


{#<div class="pad-btm no-padding">#}
{#    <div class="col-sm-6 table-toolbar-left">#}
{#        <span>#}
{#            {% trans 'Showing' %}&nbsp;{% paginator_info cl %} of {{ cl.result_count }}#}
{#            {% ifequal cl.result_count 1 %}#}
{#                {{ cl.opts.verbose_name }}#}
{#            {% else %}#}
{#                {{ cl.opts.verbose_name_plural }}#}
{#            {% endifequal %}#}
{#            {% if show_all_url %}&nbsp;&nbsp;#}
{#                <a href="{{ show_all_url }}" class="showall">{% trans 'Show all' %}</a>#}
{#            {% endif %}#}
{#        </span>#}
{#    </div>#}

{#    <div class="col-sm-6 table-toolbar-right">#}
        {% if pagination_required %}
            <ul class="pagination mar-no pull-right">
                {% for i in page_range %}
                    {% paginator_number cl i %}
                {% endfor %}
            </ul>
        {% endif %}
{#        {% if cl.formset and cl.result_count %}#}
{#            <input type="submit" name="_save" class="default btn btn-info pull-right changelist-save"#}
{#                   value="{% trans 'Save' %}"/>#}
{#        {% endif %}#}
{#    </div>#}
{#</div>#}
{##}

