{% load i18n admin_static suit_list admin_list suit_tags %}
{% if cl.search_fields %}
    <div class="searchbox">
        <form id="changelist-search" action="" method="get">
            <div class="input-group custom-search-form">

                <input type="text" class="form-control" name="{{ search_var }}"
                       value="{{ cl.query }}" id="searchbar"
                       placeholder="{% block search_placeholder %}{% trans 'Search'|capfirst %}{% endblock %}"
                        {{ cl.query|yesno:' class=active,' }}>
                    <span class="input-group-btn">
                <button class="text-muted" type="button"><i class="fa fa-search"></i></button>
            </span>

            </div>
        </form>
    </div>
{% endif %}