{% extends "admin/base_site.html" %}
{% load i18n static suit_tags %}
{% load url from suit_compat %}

{% block extrastyle %}{{ block.super }}
    {#    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}"/>#}
{% endblock %}


{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        </li>
        <li class="active">{% trans 'Password change' %}</li>
    </ol>
{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}
{% block error-messages %}
    {% if form.errors %}
        <div class="alert  alert-danger fade in">
            <button class="close" data-dismiss="alert">×</button>
            {% blocktrans count counter=form.errors.items|length %}Please correct the error
                below.{% plural %} Please correct the errors below.{% endblocktrans %}
        </div>
    {% endif %}

{% endblock error-messages %}
{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <div class="alert alert-info">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</div>
            <form action="" method="post" class="form-horizontal">
                <div class="panel">

                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans ' Password chang' %}</h3>
                    </div>
                    <div class="panel-body">
                        {% csrf_token %}

                        <fieldset class="module aligned wide">

                            <div class="form-group form-row {{ form.old_password.errors|yesno:' has-error,' }}">
                                <div class="col-lg-3 control-label">
                                    <label for="id_old_password" class="required">{% trans 'Old password' %}:</label>
                                </div>

                                <div class="col-lg-9">
                                    {{ form.old_password|add_class:"form-control" }}
                                    <span class="help-block">{{ form.old_password.errors.as_text }}</span>
                                </div>
                            </div>

                            <div class="form-group form-row {{ form.new_password1.errors|yesno:' has-error,' }}">
                                <div class="col-lg-3 control-label">
                                    <label for="id_new_password1" class="required">{% trans 'New password' %}:</label>
                                </div>

                                <div class="col-lg-9">
                                    {{ form.new_password1|add_class:"form-control" }}
                                    <span class="help-block">{{ form.new_password1.errors.as_text }}</span>
                                </div>
                            </div>

                            <div class="form-group form-row{{ form.new_password2.errors|yesno:' has-error,' }}">
                                <div class="col-lg-3 control-label">
                                    <label for="id_new_password2"
                                           class="required">{% trans 'Password (again)' %}:</label>
                                </div>
                                <div class="col-lg-9">
                                    {{ form.new_password2|add_class:"form-control" }}
                                    <span class="help-block">{{ form.new_password2.errors.as_text }}</span>
                                </div>
                            </div>
                        </fieldset>

                        <script type="text/javascript">document.getElementById("id_old_password").focus();</script>

                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <input type="submit" value="{% trans 'Change my password' %}"
                                       class="default btn btn-info"/>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>

{% endblock %}
